@font-face {
    font-family: Epilogue;
    src: url(font/static/Epilogue-Medium.ttf);
}
@font-face {
    font-family: Epilogue-Bold;
    src: url(font/static/Epilogue-Bold.ttf);
}

:root {
    --color-almost-white: hsl(0, 0%, 98%);
    --color-medium-gray: hsl(0, 0%, 41%);
    --color-almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: Epilogue, sans-serif;
    color: var(--color-medium-gray);
    background-color: var(--color-almost-white);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.header {
    height: 8rem;
    padding: 0 4rem;
    width: 100%;
    margin-bottom: auto;
    flex-shrink: 0;

    display: flex;
    align-items: center;
}

.logo {
    font-family: Epilogue-Bold;
    letter-spacing: -.01rem;
    font-size: 1.75rem;
    color: var(--color-almost-black);
}

.menu {
    font-family: Epilogue-Bold;
    font-size: 1.4rem;
    display: flex;
    margin: 0 6.5rem;
    letter-spacing: -.03rem;
}

.menu__option {
    text-decoration: none;
    color: var(--color-medium-gray);
    cursor: pointer;

    display: flex;
    align-items: center;
}

.menu__option:hover {
    color: var(--color-almost-black);
}

.menu__arrow {
    width: 1.3rem;
    height: .8rem;
    margin-left: .5rem;
    background-color: var(--color-medium-gray);
    -webkit-mask: url(images/icon-arrow-down.svg) no-repeat center;
    mask: url(images/icon-arrow-down.svg) no-repeat center;
}

.menu__option:hover .menu__arrow {
    background-color: var(--color-almost-black);
}

.menu__option:not(:last-child) {
    margin-right: 4rem;
}

.user-links {
    font-family: Epilogue-Bold;
    font-size: 1.4rem;
    letter-spacing: -.03rem;
    margin-left: auto;

    display: flex;
    align-items: center;
}

.user-links__option {
    cursor: pointer;
}

.user-links__option:not(:last-child) {
    margin-right: 4rem;
}

.user-links__option--border {
    padding: 1.1rem 2.4rem;
    border: 2px solid var(--color-medium-gray);
    border-radius: 1.2rem;
}

.user-links__option:hover {
    color: var(--color-almost-black);
    border-color: var(--color-almost-black);
    
}

.main {
    width: 114rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__image img{
    width: 48rem;
}

.content {
    width: 51.5rem;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.content__title {
    font-family: Epilogue-Bold;
    color: var(--color-almost-black);
    font-size: 5.6rem;
    width: 68rem;
    margin-top: 10.7rem;
}

.content__text {
    margin-top: 5.2rem;
    margin-bottom: 7rem;
    line-height: 2.5rem;
}

.content__link {
    text-decoration: none;
    background-color: var(--color-almost-black);
    border: 2px solid var(--color-almost-black);
    color: var(--color-almost-white);
    padding: 1.5rem 2.7rem;
    border-radius: 1.2rem;

    align-self: flex-start;

    transition: all .2s ease;
}

.content__link:hover {
    background-color: var(--color-almost-white);
    color: var(--color-almost-black);
}

.content__client-logos {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    width: 48rem;
}

.button-show-menu {
    width: 3.5rem;
    height: 3rem;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    z-index: 999;

    display: none;
}

#button-show-menu {
    display: none;
}

.button-show-menu__line {
    background-color: var(--color-almost-black);
    width: 100%;
    height: 2px;
    margin-top: auto;
    margin-bottom: auto;

    transition: width .1s, top 0.5s, transform .1s ease;
}

.button-show-menu__line--1 {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.button-show-menu__line--2 {
    position: absolute;
    top: 1.5rem;
    transform: translateY(-50%);
}

.button-show-menu__line--3 {
    position: absolute;
    top: 3rem;
    transform: translateY(-50%);
}

#button-show-menu:checked + label .button-show-menu__line--1 {
    top: 1.5rem;
    transform: rotate(135deg);
}

#button-show-menu:checked + .button-show-menu .button-show-menu__line--2 {
    transform: translateX(1.75rem);
    width: 0;
    opacity: 0;
}

#button-show-menu:checked + .button-show-menu .button-show-menu__line--3 {
    top: 1.5rem;
    transform: rotate(-135deg);
}

.nav {
    font-family: Epilogue-Bold;
    font-size: 1.4rem;
    letter-spacing: -.03rem;
    top: 6.5rem;

    position: absolute;
    background-color: var(--color-almost-white);
    padding: 2rem;
    box-shadow: 0px 0rem 2rem 7px rgb(0 0 0 / 10%);
    border-radius: 2rem;

    transition: all .2s ease-out;
}

.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: var(--color-medium-gray);
    display: flex;
    align-items: center;
    height: 3rem;
}

.nav a:hover {
    color: var(--color-almost-black);
}

.nav img {
    margin-right: 1rem;
    padding-bottom: .3rem;
}

.nav--features {
    left: 13.5rem;
}

.nav--company {
    left: 31rem;
}

.side-nav {
    display: none;
}

.hidden {
    display: none;
}

.hiddenTop {
    opacity: 0 !important;
    top: -17rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.rotate {
    transform: rotate(180deg);
}

.height0 {
    height: 0 !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: -1 !important;
    top: -15% !important;
    transform: scaleY(0);
}

@media (max-width: 1180px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1025px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 840px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 740px) {
    html {
        font-size: 62.5%;
    }

    .header {
        padding: 2rem 2rem;
        justify-content: space-between;
    }

    .header .menu {
        display: none;
    }

    .menu {
        flex-direction: column;
        font-size: 1.7rem;
    }

    .menu a {
        white-space: nowrap;
    }

    .header .user-links{
        display: none;
    }

    .button-show-menu {
        display: flex;
    }

    .main {
        width: 100vw;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main__image img{
        width: 100%;
    }

    .content {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }

    .content__title {
        font-size: 2.5rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 4.7rem;
        margin-bottom: 2.2rem;
        white-space: nowrap;
    }

    /* .content__title:first-child {
        margin-top: 4.7rem;
    } */

    .content__text {
        font-size: 1.7rem;
        margin-top: 2.2rem;
        margin-bottom: 2.2rem;
    }

    .content__client-logos {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content__client-logos img{
        max-width: 20%;
    }

    .content__link {
        font-size: 1.7rem;
        padding: 1.2rem 2rem;
        border-radius: 1.2rem;
        margin-bottom: 4.7rem;
    
        align-self: center;
    }

    .side-nav .menu {
        display: flex;
        margin: 9rem 0 0 2rem;
    }

    .menu__option {
        margin-bottom: 2rem;
    }

    .side-nav {
        position: absolute;
        height: 100vh;
        background-color: var(--color-almost-white);
        right: 0;
        z-index: 99;
        width: 24rem;
        overflow: hidden;
        display: block;

        transition: all .5s ease;
    }

    .side-nav .nav {
        position: relative;
        top: 0;
        left: 0;
        background-color: var(--color-almost-white);
        padding: 2rem;
        box-shadow: none;
        border-radius: none;
        padding: 0 0 2rem 2rem;
    }

    .shadow {
        width: 100vw;
        height: 100vh;
        background-color: var(--color-almost-black);
        opacity: .7;
        z-index: 50;
        position: absolute;

        transition: all .5s ease;
    }

    .nav {
        transition: transform .2s ease, top .2s ease;
    }

    .user-links {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.7rem;
    }

    .user-links__option {
        margin: 2rem 0 0 9rem !important;
    }
    .user-links__option--border {
        margin: 2rem 0 0 5rem !important;
    }

    .width0 {
        width: 0 !important;
    }
    
    .width0 * {
        opacity: 0 !important;
        display: none;
    }
    
    .transparent {
        opacity: 0 !important;
        z-index: -1 !important;
    }
}