.side-nav {
    position: absolute;
    height: 100vh;
    background-color: var(--color-almost-white);
    right: 0;
    z-index: 99;
    width: 24rem;
    overflow: hidden;
    display: none;

    transition: all .5s ease;

    & .menu {
        display: flex;
        margin: 9rem 0 0 2rem;
    }

    & .nav {
        position: relative;
        top: 0;
        left: 0;
        background-color: var(--color-almost-white);
        padding: 2rem;
        box-shadow: none;
        border-radius: none;
        padding: 0 0 2rem 2rem;
    }

    
    @media (max-width: 740px) {
        display: block;
    }
}
