:root {
    --color-almost-white: hsl(0, 0%, 98%);
    --color-medium-gray: hsl(0, 0%, 41%);
    --color-almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @media (max-width: 1180px) {
        font-size: 55%;
    }
    
    @media (max-width: 1025px) {
        font-size: 45%;
    }
    
    @media (max-width: 840px) {
        font-size: 40%;
    }
    
    @media (max-width: 740px) {
         font-size: 62.5%;
    }
}